@-moz-document domain(github.com) {
	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v9/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
		text-rendering: optimizeLegibility !important;
	}
	body, input, select, textarea, button {
		font-family: 'Open Sans' !important;
	}
	.markdown-body {
		font-family: 'Open Sans';
	}
	.header {
		position: fixed;
		transform: translateZ(0);
		width: 100%;
		z-index: 10000;
		top: 0px;
	}
	body {
		padding-top: 50px;
	}
	.header-logged-in {
		background-image: none;
		background-color: #F5F5F5;
	}
	.new-user-avatar-cta {
		display: none;
	}
}